body {
  background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.addItemForm input {
  min-width: 200px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: start;
  margin-left: 10vh;
}
.todo-list {
  margin-left: 100px;
}
.todo-list:first-child {
  margin-left: 0;
}
.error-message {
  color: red;
}
.error {
  border: 1px solid red;
}

.filter-buttons button{
  border: 2px solid #4CAF50;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.active-class {
  background-color: #4CAF50;
}

.filter-buttons button:active  {
  opacity: 0.75;
}
.filter-buttons button:hover {
  opacity: 0.75;
}

